@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
  margin: 30px;
  font-family: 'nanumsquare';
}
.left-container {
  /* margin-left: 10px;
  margin-right: 20px; */
}
.right-container {
  border-left: 1px solid #dddddd;
  padding-left: 40px;
}

h4 {
  font-weight: bold;
  margin-top: 10px;
}

.wj-flexchart .wj-data-labels .wj-data-label {
  fill: white;
}
.wj-flexgrid {
  height: 300px;
}

.wj-content {
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}
.wj-header {
  background-color: #66cc94 !important;
  color: #ffffff !important;
}
.wj-state-selected {
  background-color: #ffe36c !important;
  color: #ffffff !important;
}
.wj-state-multi-selected {
  background-color: #66b1cc !important;
  color: #ffffff !important;
}
.wj-tooltip {
  background-color: #43434d;
  color: #ffffff;
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(
    .wj-state-selected
  ):not(.wj-state-multi-selected) {
  background-color: #ffffff;
  color: #000000;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(
    .wj-state-multi-selected
  ) {
  background-color: rgba(221, 254, 235, 0.89);
  color: #000000;
}
.wj-cell:not(.wj-header) {
  border-bottom: none !important;
  border-right: none !important;
}

/* 요약 그리드 */
#summaryGrid.wj-flexgrid .wj-cell,
#genderGrid.wj-flexgrid .wj-cell {
  padding: 8px;
  text-align: center;
  font-size: 15px;
}

#summaryGrid,
#genderGrid {
  height: auto;
  min-width: 200px;
  max-width: 434px;
}

#summaryGrid {
  margin-bottom: 50px;
}

.wj-cell.wj-has-notes:after {
  position: absolute;
  content: '';
  width: 0;
  right: 0;
  top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid red;
  opacity: 0.5;
}

.wj-cell.wj-has-notes:hover:after {
  opacity: 1;
}

.wj-cell:not(.wj-group) {
  text-align: center;
}

/* 차트 설정 요소 */
.chart-setting-group {
  margin-bottom: 5px;
}

#btnNone,
#btnParticipants {
  margin-right: 5px;
  margin-left: 5px;
}

#theComboString {
  margin-right: 10px;
}
/* 차트 */

.wj-flexchart {
  border-radius: 10px;
}

.wj-flexchart .wj-header .wj-title {
  font-weight: bold;
}
